{% extends "../base.html" %}

{% load static %}
{% load cache %}
{% load component_helpers %}

{% block sidebar_bottom %}
    {% include "oss/review/sidebar.html" %}
{% endblock sidebar_bottom %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">
        <strong>Review</strong>
        <span class="disabled" style="color: #ccc">|</span>
        {{ review.title }}
    </h2>
</div>

<div class="row">
<div class="col-8">
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <a href="javascript:alert('Not implemented.')" title="Edit"><i class="far fa-edit"></i></a>
            </div>
            <strong>Review Details</strong>
        </div>
        <div class="card-body review_content">
            <div class="">
                {{ review.text|to_markdown|safe }}
            </div>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <a href="javascript:alert('Not implemented.')" title="Edit"><i class="far fa-edit"></i></a>
                    </div>
                    <strong>Metadata</strong>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr>
                            <td>Review Type:</td>
                            <td>{{ review.review_type }}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{ review.state }}</td>
                        </tr>
                        <tr>
                            <td>Published:</td>
                            <td>{{ review.published_dt }} by {{ review.published_by }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <a href="javascript:alert('Not implemented.')" title="Edit"><i class="far fa-edit"></i></a>
                    </div>
                    <strong>Associated URLs</strong>
                </div>
                <div class="card-body">
                    {% if review.urls.all %}
                        <ul class="list-group list-group-condensed list-group-flush">
                            {% for url in review.urls.all %}
                                <li class="list-group-item"><a href="{{ url.url }}">{{ url.url }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i>No URLs are associated with this review.</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <a href="javascript:alert('Not implemented.')" title="Edit"><i class="far fa-edit"></i></a>
                    </div>
                    <strong>Affected Components</strong>
                </div>
                <div class="card-body">
                    {% if review.versions.all %}
                        <ul class="list-group list-group-condensed list-group-flush">
                            {% for version in review.versions.all %}
                                <li class="list-group-item"><a href="{{ version.get_absolute_url }}">{{ version.component.name }}@{{ version.version }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <i>No URLs are associated with this review.</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% with metadata=review.metadata %}
    {% include "oss/widget-metadata.html" %}
{% endwith %}

{% endblock main %}