# Ignore log files and other development things
*.log
*.sqlite
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.env.*
.github
.vscode
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
web/media
stats
Dockerfile
doc/