{% extends "../base.html" %}

{% load static %}
{% load cache %}
{% load component_helpers %}

{% block sidebar_bottom %}
    {% include "oss/component/sidebar.html" %}
{% endblock sidebar_bottom %}

{% block main %}

<div class="row" style="margin-top:40px;">
    <div class="col-2"></div>
    <div class="col-8">

                <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#000;border-top-left-radius:6px; border-top-right-radius:6px;">

                    <a class="navbar-brand" href="{{ component.get_absolute_url }}">
                        <span style="font-size: 1.2em;margin-right: 8px">{{ component.get_icon|safe }}</span>
                        {{ component.name }}
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="ml-auto text-center">
                          <div class="thing float-left ml-4 mr-4">
                              <div class="thing-icon" style="font-size: 200%"><i class="fas fa-clipboard"></i></div>
                              <div class="thing-name">Policy</div>
                          </div>
                          <div class="thing float-left ml-4 mr-4">
                            <div class="thing-icon" style="font-size: 200%"><i class="fas fa-tools"></i></div>
                            <div class="thing-name">Assurance</div>
                          </div>
                          <div class="thing float-left ml-4 mr-4">
                            <div class="thing-icon" style="font-size: 200%"><i class="fas fa-shield-alt"></i></div>
                            <div class="thing-name">Risk</div>
                          </div>
                          <div class="thing float-left ml-4 mr-4">
                            <a href="#">
                            <div class="thing-icon" style="font-size: 200%"><i class="fas fa-chart-line"></i></div>
                            <div class="thing-name">Activity</div></a>
                          </div>
                          <div class="thing float-left ml-4">
                            <div class="thing-icon" style="font-size: 200%"><i class="fas fa-award"></i></div>
                            <div class="thing-name">Governance</div>
                          </div>
                        </div>
                        </div>
                  </nav>
        <div class="row" style="margin-top: 30px">
            <div class="col-9">
                <table class="table table-bordered ml-4 mr-4">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Development
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 30%">Code Reviews</td>
                        <td>
                            <input type="radio">Not Required</input>
                            <input type="radio" checked="checked">1 person</input>
                            <input type="radio">2+ people</input>
                            <a href="#">more info</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Language Analyzability</td>
                        <td>
                            <strong>
                                {{ component|get_metadata:"Language Analyzability" }}
                            </strong>
                            <a href="#">more info</a>
                        </td>
                    </tr>
                    <tr>
                        <td>High Risk Area</td>
                        <td>
                            <strong>YES</strong>
                            <a href="#">more info</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <div style="background-color:rgb(203,203,203); color:#000" class="p-4 ml-4 mr-4">
                    <div><strong>RECOMMENDATIONS</strong></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut laoreet ipsum. Pellentesque quis ligula mattis, euismod tellus eu, mattis diam. Aliquam feugiat risus et ipsum commodo dictum. Fusce eget laoreet turpis. Praesent ultrices tincidunt turpis a suscipit. Donec vel tellus massa. Sed pulvinar tristique vehicula.</p>
                    <p>For additional information, please visit the Internet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% with metadata=component.metadata %}
    {% include "oss/widget-metadata.html" %}
{% endwith %}

{% endblock main %}