@media(min-width: 768px){
	#lf-header { padding-left: 8px; padding-top: 2px; background: #252525; width: 100%; }
	#lf-header img { max-width: 270px; }
}

@media(max-width: 767px){
    #lf-header { display: none; }
}
nav.navbar.top-navbar {
    background-color: rgba(10,59,97,100);
}
/* Footer */
nav.navbar.fixed-bottom {
    background-color: #252525;
    color: #777;
    font-size: 12px;
}

/* Sidebar */
@media(max-width: 767px) {
    .flex-fixed-width-item {
        display: none;
    }
}
.flex-fixed-width-item {
    flex: 0 0 182px;
}

/* Theme overrides */
body {
    background-color: #fcfdfe;
}
.sandstone, .navbar .nav-link, .btn, .nav-tabs .nav-link, .nav-pills .nav-link, .breadcrumb, .pagination, .dropdown-menu .dropdown-item, .tooltip {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: inherit;
}
a:hover {
    text-decoration: none;
}
.navbar-brand {
    font-size: 1.45rem;
}
.list-group-item.active {
    font-weight: bold;
}
table.table thead.thead-dark th {
    background-color: rgba(10,59,97,100);
    color: #ffe;
}

/* Bootstrap 4 additions */
.list-group-condensed .list-group-item {
    padding: 4px;
}

/* Review */
div.review_content {
    margin: 8px;
    padding: 6px;
}

/* Article */
div.article_content_edit textarea {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    font-size: 1.1em;
    min-height: 400px;
}

/* Metadata Modals */
div.metadata-modal textarea {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    font-size: 1.1em;
    min-height: 400px;
}

/* Component View */
div.card_overview p:last-of-type {
    margin-bottom: 0;
}