{% extends "../base.html" %}

{% load static %}
{% load cache %}
{% load component_helpers %}

{% block sidebar_bottom %}
    {% include "oss/article/sidebar.html" %}
{% endblock sidebar_bottom %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">
            <strong>Article</strong>
            <span class="disabled" style="color: #ccc">|</span>
            {{ article.current.title }}
        </h2>
    </div>

    <div class="row">
    <div class="col-10">
        <div class="card">
            <div class="card-header">
                <div class="float-right">
                    <a href="/article/{{ article.article_id }}/edit" title="Edit"><i class="far fa-edit"></i></a>
                </div>
                <strong>Article Content</strong>
            </div>
            <div class="card-body review_content">
                {{ article.current.content|to_markdown|safe }}
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <strong>Metadata</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm">
                            <tr>
                                <th>Status</th>
                                <td>{{ article.current.state }}</td>
                            </tr>
                            <tr>
                                <th>Last Updated</th>
                                <td>{{ article.current.updated_dt|date }} by {{ article.updated_by }}</td>
                            </tr>
                            <tr>
                                <th>History</th>
                                <td>
                                    <select class="form-control border-0">
                                        {% for revision in revisions.all %}
                                            <option value="{{ revision.article_revision_id }}">{{ revision.updated_dt }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}