{% extends "../base.html" %}

{% load static %}
{% load cache %}
{% load component_helpers %}

{% block sidebar_bottom %}
    {% include "oss/article/sidebar.html" %}
{% endblock sidebar_bottom %}

{% block main %}

    {% if form.article_id.value %}
        <form action="/article/{{ form.article_id.value }}/edit" method="post">
    {% else %}
        <form action="/article/add" method="post">
    {% endif %}

    {{ form.article_id }}

    {% csrf_token %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">
            <strong>Create Article</strong>
        </h2>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <strong>Article Content</strong>
                </div>
                <div class="card-body">
                    <div class="form-group ">
                        {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}">Title:</label>
                        {{ form.title }}
                    </div>

                    <div class="form-group">
                        {{ form.state.errors }}
                        <label for="{{ form.state.id_for_label }}">Publishing State:</label>
                        {{ form.state }}
                    </div>

                    <div class="form-group article_content_edit">
                        {{ form.content.errors }}
                        <label for="{{ form.content.id_for_label }}">Content:</label>
                        {{ form.content }}
                    </div>
                    <div class="form-group">
                        <!--
                            <button type="submit" class="btn btn-danger mr-4" name="action" value="delete">Delete</button>
                        -->
                        <a href="/article/{{ form.article_id.value }}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary" name="action" value="save" disabled="disabled">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock main %}

{% block javascript %}
    /* Enable the 'save' button once anything has changed. */
    $('form .form-control').one('change keydown', (e) => {
        $('form button[type="submit"]').removeAttr('disabled');
    });
{% endblock javascript %}