{% extends "./index.html" %}

{% block body %}
<div class="container-fluid" style="padding-left: 0px; padding-right: 0">
    <div class="row">
        <div class="col p-0">
            <div class="jumbotron jumbotron-fluid" style="background-color:#ff9f00;color:#ffe; text-shadow:0px 0px 15px #666">
                <div class="container text-center">
                    <h1 class="display-4">Open Source Security Metrics</h1>
                    <h3>Justified Trust in Open Source</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h2>About Us</h2>
            <p>
                The <strong>OpenSSF Security Metrics Project</strong> was created to collect,
                aggregate, analyze, and communicate relevant security data about open source
                projects. It leverages existing data sources, including various OpenSSF projects
                and data available through public APIs.
            </p>
            <p>
                This project should be considered "early alpha" quality. Features may change at
                any time, the system may become unavailable, and URLs may change. It is not
                ready for anything more than early testing.
            </p>
            <p>
                <ul>
                    <li><strong>Found a Bug?</strong> - Please report it via our <a href="https://github.com/ossf/Project-Security-Metrics">GitHub issues page</a>.</li>
                    <li><strong>Want to Help?</strong> - Join our <a href="https://github.com/ossf/wg-identifying-security-threats">working group</a> or
                    meet up with us on <a href="https://slack.openssf.org/">Slack</a>.</li>
                </ul>
            </p>
            <p>
                Copyright © 2022 The Linux Foundation®. All rights reserved. The Linux Foundation has
                registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation,
                please see our
                <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank" rel="noopener noreferrer">Trademark Usage</a>
                page. Linux is a registered trademark of Linus Torvalds.
                <a href="http://www.linuxfoundation.org/privacy">Privacy Policy</a> and
                <a href="http://www.linuxfoundation.org/terms">Terms of Use</a>.
            </p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

{% endblock %}
