<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">
        {{ component.package_type }}
        <span class="disabled" style="color: #ccc">|</span>
        {{ component.name }}
        {% if component.version %}
            {{ component.version }}
        {% endif %}
        <!-- TODO: Need to filter description before we can trust this.
            <span class="disabled" style="color: #ccc">|</span>

        -->
    </h2>

</div>