{% extends "../base.html" %}

{% load static %}
{% load cache %}
{% load component_helpers %}

{% block sidebar_bottom %}
    {% include "oss/component/sidebar.html" %}
{% endblock sidebar_bottom %}

{% block main %}
    {% include "oss/component/common-top.html" %}
    <div class="row">

        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <strong>Similarly-Named Projects</strong>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        {% for candidate in component|get_metadata:"similarly-named-projects" %}
                            <tr>
                                <td>
                                    <a href="/search?q=pkg:{{ candidate.type }}/{{ candidate.name }}">{{ candidate.name }}</a>
                                </td>
                                <td>
                                    {{ candidate.reason }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <strong>Characteristics</strong>
                </div>
                <div class="card-body">
                    <p>
                        The following characteristics were identified by
                        <a href="https://github.com/Microsoft/ApplicationInspector">Microsoft Application Inspector</a>.
                    </p>
                    <ul class="list-group list-group-condensed">
                        {% for tag in component|get_metadata:"tool.applicationinspector.tags" %}
                            <li class="list-group-item"><a href="#">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}