appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
attrs==20.2.0
autoflake==1.4
autopep8==1.5.4
azure-core==1.8.1
azure-storage-queue==12.1.3
black==19.10b0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.1
decorator==4.4.2
Deprecated==1.2.10
Django==3.1.1
django-debug-toolbar==2.2
django-extensions==3.0.8
django-grappelli==2.14.2
django-redis==4.12.1
django-taggit==1.3.0
django-werkzeug==1.0.0
djangorestframework==3.11.1
flake8==3.8.3
gunicorn==20.0.4
idna==2.10
isodate==0.6.0
isort==5.5.2
lazy-object-proxy==1.4.3
lizard==1.17.4
Markdown==3.2.2
mccabe==0.6.1
msrest==0.6.19
oauthlib==3.1.0
packageurl-python==0.9.1
pathspec==0.8.0
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
PyGithub==1.53
PyJWT==1.7.1
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pymodm==0.4.3
pymongo==3.10.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
redis==3.5.3
regex==2020.7.14
requests==2.24.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
rope==0.17.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
validators==0.18.1
Werkzeug==1.0.1
wrapt==1.12.1
